@model ModalViewModel

<link rel="stylesheet" href="~/css/home/modal.css" asp-append-version="true"/>

<div class="modal hidde">
    <span class="modal-value 0"></span>

    <div class="modal-body">
        <h3 class="modal-title">
            @Model.Question
        </h3>

        <div class="modal-buttons">
            <a class="modal-btn modal-delete">
                <i class="bi bi-trash"></i> 
                @Model.OptionDelete
            </a>

            <a class="modal-btn modal-cancel">
                <i class="bi bi-x-lg"></i> 
                @Model.OptionCancel
            </a>
        </div>
    </div>
</div>