.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 25%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.modal-body {
    width: 400px;
    padding: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--mainColor);
    box-shadow: var(--formShadow);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s 0.5s ease;
}

.modal.show {
    transform: translateX(0);
}

.modal.show .modal-body {
    transform: scale(1);
}

.modal.hidde {
    transform: translateX(-100%);
}

.modal.hidde .modal-body {
    transform: scale(0);
}

.modal-title {
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
    color: var(--secondaryColor);
}

.modal-buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.modal-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    box-shadow: var(--btnShadow);
    color: #151515;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.modal-btn:hover {
    cursor: pointer;
    box-shadow: none;
    transform: translateY(-1.5px);
}

.modal-delete { background-color: #fd3939; }
.modal-cancel { background-color: #b1b1b1; }