.container {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.add-container {
    width: 100%;
    padding: 0.75rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.add-title {
    width: 100%;
    text-align: center;
    color: var(--secondaryColor);
    font-size: 2rem;
    font-family: 'Segoe UI', system-ui, Verdana, sans-serif;
}

.add-group {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.add-text {
    font-size: 1.25rem;
}

.add-link {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 1.25rem;
    background: linear-gradient(to bottom right, #55b6fc, #09f);
    box-shadow: var(--btnShadow);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.add-link:hover {
    box-shadow: none;
    transform: translateY(-1.25px);
}

.note {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.note:nth-child(even) {
    background-color: var(--alternateColor);
}

.note-description {
    width: 70%;
}

.note-details {
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    color: var(--themeNote);
}

.note-text {
    font-size: 1.2rem;
}

.note-actions {
    width: 28%;
    display: flex;
    flex-flow: row nowrap;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.action-btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    color: #151515;
    box-shadow: var(--btnShadow);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.action-btn:hover {
    box-shadow: none;
    transform: translateY(-1.5px);
}

.action-btn-complete { background-color: aqua; }
.action-btn-edit { background-color: #fab32e; }
.action-btn-delete { background-color: #fd3939; }

.note-canceled {
    text-decoration: line-through;
}