@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    padding-bottom: 1rem;
}

body::-webkit-scrollbar { 
    width: 7px;
    background: transparent;
}

body::-webkit-scrollbar-thumb { 
    background: #101010;
    border-radius: 5px;
}

.required {
    font-size: 1.125rem;
    color: red;
}

.error {
    margin-left: 7.5px;
    font-size: 12px;
    color: crimson;
}