@model string

<link rel="stylesheet" href="~/css/groups/header.css" asp-append-version="true"/>

<div class="container-header">
    <h3 class="groups-title">
        Grupos de @Model
    </h3>

    <section class="group-container">
        <article class="group-column">
            <p class="group-column-title">
                ¿Deseas crear un nuevo grupo?
            </p>

            <a asp-action="Create" asp-controller="Groups" class="group-button btn-create">
                <i class="bi bi-plus-lg"></i> 
                Crear
            </a>
        </article>

        <article class="group-column">
            <p class="group-column-title">
                ¿Deseas formar parte de un grupo?
            </p>

            <a asp-action="Enter" asp-controller="Groups" class="group-button btn-enter">
                <i class="bi bi-box-arrow-right"></i> 
                Entrar
            </a>
        </article>
    </section>
</div>