@model string

<div class="modal hidde">
    <span class="modal-value 0"></span>

    <div class="modal-body">
        <h3 class="modal-title">
            ¿Estas seguro de eliminar este elemento?
        </h3>

        <div class="modal-buttons">
            <a class="modal-btn modal-delete">
                <i class="bi bi-trash"></i> 
                Eliminar
            </a>

            <a class="modal-btn modal-cancel">
                <i class="bi bi-x-lg"></i> 
                Cancelar
            </a>
        </div>
    </div>
</div>