@model string 

@{
    ViewData["Title"] = "Not Found";
}

<link rel="stylesheet" href="~/css/home/error.css" asp-append-version="true"/>

<section class="container">
    <h3 class="error-title">
        Error, elemento no encontrado
    </h3>

    <img class="error-img" 
    src="~/images/nofound.png" 
    alt="Not Found"
    loading="lazy"/>
</section>