@model GroupsNotesViewModel

@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/home/home.css" asp-append-version="true"/>

<section class="main">
    <partial name="_NavItems" model="@Model.Charge"/>

    <div class="container">
        @if (Model.Charge == "Notes") {
            <partial name="_Notes" model="@Model.Notes"/>
        } else {
            <partial name="_Groups"/>
        }
    </div>
</section>