<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>@ViewData["Title"]</title>

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/users/users.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/TodoApp.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="TodoApp.styles.css" asp-append-version="true"/>
    </head>

    <body class="light">
        <header>
            <div class="header-container">
                <a asp-action="Login" asp-controller="Users" class="logo-link">
                    <h1 class="logo-text">TodoApp</h1>
                </a>

                <button class="switch-theme header-btn">
                    <i class="bi bi-moon-stars"></i>
                </button>
            </div>
        </header>

        <main role="main">
            @RenderBody()
        </main>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/theme.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>