@model LoginViewModel 

@{
    ViewData["Title"] = "Iniciar sesión";
}

<h1 class="title">Iniciar sesión</h1>

<form asp-action="Login" class="form">
    <div asp-validation-summary="ModelOnly" class="error"></div>

    <partial name="_LoginUser" model="@Model"/>

    <p class="text">
        ¿Aún no tienes una cuenta? 
        <a asp-action="Register">Registrate aquí...</a>
    </p>

    <button type="submit" value="Login" class="btn">
        ¡Listo!
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}