@model LoginViewModel 

@{
    ViewData["Title"] = "Iniciar sesión";
}

<section class="main">
    <h1 class="title">Iniciar sesión</h1>

    <form asp-action="Login" class="form">
        <div asp-validation-summary="ModelOnly" class="error"></div>

        <partial name="_LoginUser" model="@Model"/>

        <button type="submit" value="Login" class="btn">
            ¡Listo!
        </button>

        <hr/>

        <p class="form-text">
            ¿Aún no tienes una cuenta? 
            <a asp-action="Register">Registrate aquí...</a>
        </p>
    </form>
</section>

<style>
    main {
        margin: 2.5rem auto;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}