@model GroupTasksViewModel

@{
    ViewData["Title"] = Model.Name;

    var model = new DetailGroupViewModel {
        GroupId = Model.GroupId,
        Name = Model.Name,
        ImageFullPath = Model.ImageFullPath
    };
}

<link rel="stylesheet" href="~/css/groups/details.css" asp-append-version="true"/>

<section class="main">
    <div class="container">
        <partial name="_DetailGroup" model="model"/>
        <partial name="_Tasks" model="Model.Tasks"/>
    </div>
</section>