@model GroupTasksViewModel

@{
    ViewData["Title"] = Model.Name;
}

<link rel="stylesheet" href="~/css/groups/details.css" asp-append-version="true"/>

<section class="main">
    <div class="container">
        <partial name="_Tasks" model="Model.Tasks"/>
    </div>
</section>