* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--secondaryColor);
}

.form {
    width: 100%;
    max-width: 420px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondBackground);
    box-shadow: var(--formShadow);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    position: relative;
}

.return {
    position: absolute;
    right: 1.5rem;
    top: 1.25rem;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.35rem;
    background: var(--themeColor);
    color: #fff;
    box-shadow: var(--btnShadow);
    transition: box-shadow 0.25s ease;
}

.return:hover {
    box-shadow: none;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.label-group {
    width: 100%;
}

.form-label {
    font-size: 0.9rem;
    color: var(--secondaryColor);
}

.form-input {
    width: 100%;
    margin: 0.25rem 0;
    padding: 0.5rem 0;
    outline: none;
    color: var(--secondaryColor);
    background-color: var(--thirdBackground);
    border: none;
    border-bottom: 1px solid var(--borderColor);
    font-size: 1.125rem;
}

.check-label {
    font-size: 1.125rem;
    color: var(--secondaryColor);
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 50%;
    margin: 0.125rem auto;
    padding: 0.75rem 0;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    color: #fff;
    background: var(--themeColor);
    box-shadow: var(--btnShadow);
    transition: box-shadow 0.25s ease;
}

.btn:hover {
    cursor: pointer;
    box-shadow: none;
}

.form-image {
    display: none;
}

.label-image {
    display: inline-block;
    padding: 0.75rem 0;
    text-align: center;
}

.form-text {
    color: var(--secondaryColor);
}

.image-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.edit-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
}